@tailwind base;
@tailwind components;
@tailwind utilities;

@import './reset';
//@import './fonts';
@import './icon';


.container {
    max-width: 1700px;
    margin: 0 auto;

    font-family: 'Nunito Sans', sans-serif;
}
